.shop {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;
}
.category {
    width: 20%;
    background: #152030FF;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.products {
    width: 80%;
    background: #152030FF;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}